* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
} 

.container {
padding-left: 200px;
padding-right: 200px;
}

.heading {
    padding-right: 500px;
}

.header {
  padding: 20px;
  text-align: end;
  background: #bc1a89;
  color: white;
  font-size: 20px;
  position: fixed;
  width: 98%;
  top: 0;
}

footer{
  background: #bc1a89; 
  padding: 20px;  
  position: fixed;
  width: 98%;
  top: 89%;
}

.footer-icon {
  width: 1em;
}

.footer-link::after {
  content: attr(data-name);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 20;
  background-color: antiquewhite;
}
.btn {
  background-color: rgb(74, 222, 10); 
  border-radius: 1em;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
